input {
    width: 180px;
}

.totalCost {
    float: left;
}

.costType {
    margin-left: 30%;
    width: 30%;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}