<nz-table #basicTable [nzData]="cateList" [nzLoading]="loading" [nzFrontPagination]="false" [nzTotal]="total"
  [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzShowSizeChanger]= true>
  <thead>
    <tr>
      <th>Name</th>
      <th>Day created </th>
      <th>Action</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of cateList">
      <td>{{ data.categoryName }}</td>
      <td>{{ data.createAt.day}}-{{ data.createAt.month}}-{{ data.createAt.year}}
        {{ data.createAt.hour}}:{{ data.createAt.minute}}:{{ data.createAt.second}}</td>
      <td><button nz-button nzType="default">Detail</button></td>
      <td>
        <a>Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>
