[nz-button] {
    margin: 10px;
    font-weight: 500;
    box-shadow: 1px 1px 2px #cccccc;
}

.detailButton {
    margin: 5px;
    font-weight: 500;
    box-shadow: 1px 1px 2px #cccccc;
}


/* 
textarea:focus::placeholder {
    color: red;
    font-size: 10px;
} */


/* nz-input-number:focus::nzPlaceHolder {
    color: red;
    font-size: 10px;
} */