<nz-spin [nzSpinning]="detailLoading" nzTip="Loading...">
    <nz-table #costTable nzShowQuickJumper [nzFrontPagination]="false" [nzData]="costList" [nzLoading]="tableLoading" [nzTotal]="totalRecord" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
        <thead>
            <tr>
                <th>No.</th>
                <th nzColumnKey="costDescription" [nzSortFn]="true">Description</th>
                <th nzColumnKey="total" [nzSortFn]="true">Total Costs</th>
                <th nzColumnKey="createAt" [nzSortFn]="true">Create time</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="costList!=null">
            <tr *ngFor="let cost of costList; index as i">
                <td>{{ i+(page*pageLimit)-(pageLimit-1) }}</td>
                <td>{{ cost.costDescription }}</td>
                <td>{{ cost.total | currency:'VND' }}</td>
                <td>{{ getCreateTime(cost.createAt) }}</td>
                <td><button nz-button nzType="default" nzSize="large" nzShape="round" (click)="showModalCostDetail(cost)">Detail</button></td>
                <td> <a nz-button nzType="default" nzShape="circle" (click)="deleteCost(cost.id, cost.costDescription)">Delete</a></td>
            </tr>
        </tbody>
        <div style="margin: 10px; width: 200px;">
            <button nz-button nzType="primary" nzBlock nzSize="large" (click)="showModalCostAdd(null)">
                    <span>Add Cost</span>
                </button>
        </div>
        <!-- <input #inputElement style="width: 120px" nz-input nz-tooltip nzTooltipTrigger="focus" nzTooltipPlacement="topLeft" nzOverlayClassName="numeric-input" [ngModel]="value" placeholder="Input a number" (ngModelChange)="onChange($event)" (blur)="onBlur()"
        /> -->
        <!-- <input type="number" formControlName="total" required> -->

    </nz-table>

</nz-spin>